.example-spacer {
    flex: 1 auto;
}

.navbar {
    background-color: #c2185b;
    color: white;
    padding: 10px;
}

.navbar-header-text:hover {
    cursor: pointer;
}

.nav-btn-container {
    display: flex;
    gap: 20px;
}